<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430196424981-s4bd8r8goubil04mbj5t073njfbo81q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430196424981-s4bd8r8goubil04mbj5t073njfbo81q6</string>
	<key>API_KEY</key>
	<string>AIzaSyALDj45VDrJYSma5NLIIExMzqR0uzxzUew</string>
	<key>GCM_SENDER_ID</key>
	<string>430196424981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseBmi</string>
	<key>PROJECT_ID</key>
	<string>bmi-fir</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-fir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430196424981:ios:70fef24fe62c1ba9eda91c</string>
</dict>
</plist>